[submodule "public/assets/plugins/Chart.js"]
	path = public/assets/plugins/Chart.js
	url = git@github.com:nnnick/Chart.js.git
[submodule "public/assets/plugins/bootstrap-ajax-typeahead"]
	path = public/assets/plugins/bootstrap-ajax-typeahead
	url = git@github.com:biggora/bootstrap-ajax-typeahead.git
[submodule "public/assets/plugins/easy-pie-chart"]
	path = public/assets/plugins/easy-pie-chart
	url = git@github.com:rendro/easy-pie-chart.git
[submodule "public/assets/plugins/jquery-plugin-circliful"]
	path = public/assets/plugins/jquery-plugin-circliful
	url = git@github.com:pguso/jquery-plugin-circliful.git
[submodule "public/assets/plugins/underscore"]
	path = public/assets/plugins/underscore
	url = git@github.com:jashkenas/underscore.git
[submodule "public/assets/plugins/bootflat.github.io"]
	path = public/assets/plugins/bootflat.github.io
	url = git@github.com:bootflat/bootflat.github.io.git
[submodule "public/assets/plugins/jquery"]
	path = public/assets/plugins/jquery
	url = git@github.com:jquery/jquery.git
[submodule "public/assets/plugins/typeahead"]
	path = public/assets/plugins/typeahead
	url = git@github.com:twitter/typeahead.js.git
[submodule "public/assets/plugins/jquery-typeahead"]
	path = public/assets/plugins/jquery-typeahead
	url = git@github.com:running-coder/jquery-typeahead.git
